@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.main {
  width: 100%;
  height: auto;
}
.main .hero {
  width: 100%;
  height: auto;
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position-x: 50px;
  background-position-y: -160px;
  background-size: 500px;
}
.main .hero .navbar {
  width: 100%;
  height: 80px;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
}
.main .hero .navbar .menu {
  cursor: pointer;
}
.main .hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .hero .content .graphics {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .hero .content .graphics .graph {
  width: 250px;
}
.main .hero .content .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .hero .content .heading h3 {
  font-size: 45px;
  color: rgb(18, 0, 100);
  text-align: center;
  padding: 20px 50px;
}
.main .hero .content .heading p {
  font-size: 20px;
  color: rgb(114, 114, 114);
  text-align: center;
  padding: 20px 20px;
  line-height: 30px;
}
.main .hero .content .heading .cta {
  padding: 20px 30px;
  border-style: none;
  border-radius: 30px;
  font-size: 15px;
  color: #fff;
  background: rgb(252, 77, 46);
  width: 200px;
  letter-spacing: 2px;
  font-weight: 700;
  box-shadow: 0px 3px 10px rgb(252, 77, 46);
  cursor: pointer;
}
.main .about {
  width: 100%;
  height: auto;
}
.main .about .header {
  margin-bottom: 30px;
  padding: 50px 50px 0px 50px;
  display: grid;
  place-items: center;
  text-align: center;
}
.main .about .header h1 {
  color: rgb(18, 0, 100);
  font-size: 40px;
  font-weight: bolder;
  padding: 20px;
}
.main .about .header p {
  font-size: 18px;
  color: rgb(114, 114, 114);
  text-align: center;
  line-height: 30px;
}
.main .about .content {
  height: auto;
  margin: 50px 0px;
}
.main .about .content .content-box {
  margin: 20px 0px;
}
.main .about .content .content-box .head {
  background-color: rgb(255, 235, 237);
  display: flex;
  border-radius: 50px 0px 0px 50px;
  margin-left: 15px;
}
.main .about .content .content-box .head .num {
  background: rgb(252, 77, 46);
  color: #fff;
  width: 60px;
  height: 40px;
  border-radius: 50px;
  display: grid;
  place-items: center;
}
.main .about .content .content-box .head .title {
  display: flex;
  place-items: center;
  margin-left: 10px;
  font-weight: bold;
  color: rgb(18, 0, 100);
}
.main .about .content .content-box .content-text {
  font-size: 15px;
  padding: 10px 20px;
  color: rgb(114, 114, 114);
  line-height: 30px;
}
.main .testimonials {
  width: 100%;
  height: 100vh;
  background: blue;
}
.main .get-started {
  width: 100%;
  height: 70vh;
  background: green;
}
.main .footer {
  width: 100%;
  height: 80vh;
  background: yellow;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .main {
    background: gray;
  }
}
@media screen and (min-width: 768px) {
  .main {
    background: orange;
  }
}/*# sourceMappingURL=style.css.map */