@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.main {
  width: 100%;
  height: auto;
}
.main .hero {
  width: 100%;
  height: auto;
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: -70px;
  background-size: 500px;
}
.main .hero .navbar {
  width: 100%;
  height: 80px;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
}
.main .hero .navbar .menu {
  cursor: pointer;
}
.main .hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .hero .content .graphics {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .hero .content .graphics .graph {
  width: 300px;
}
.main .hero .content .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.main .hero .content .heading h3 {
  font-size: 35px;
  color: rgb(18, 0, 100);
  text-align: center;
  line-height: 50px;
  padding: 10px 30px;
}
.main .hero .content .heading p {
  font-size: 18px;
  color: rgb(114, 114, 114);
  text-align: center;
  padding: 10px 20px;
  line-height: 30px;
}
.main .hero .content .heading .cta {
  padding: 20px 30px;
  margin-top: 20px;
  border-style: none;
  border-radius: 30px;
  font-size: 15px;
  color: #fff;
  background: rgb(252, 77, 46);
  width: 180px;
  letter-spacing: 2px;
  font-weight: 700;
  box-shadow: 0px 1px 6px rgb(252, 77, 46);
  cursor: pointer;
}
.main .about {
  width: 100%;
  height: auto;
}
.main .about .header {
  margin-bottom: 30px;
  padding: 50px 30px 0px 30px;
  display: grid;
  place-items: center;
  text-align: center;
}
.main .about .header h1 {
  color: rgb(18, 0, 100);
  font-size: 35px;
  font-weight: bolder;
  padding: 20px;
}
.main .about .header p {
  font-size: 15px;
  color: rgb(114, 114, 114);
  text-align: center;
  line-height: 30px;
}
.main .about .content {
  height: auto;
  margin: 50px 0px;
}
.main .about .content .content-box {
  margin: 20px 0px;
}
.main .about .content .content-box .head {
  background-color: rgb(255, 235, 237);
  display: flex;
  border-radius: 50px 0px 0px 50px;
  margin-left: 15px;
}
.main .about .content .content-box .head .num {
  background: rgb(252, 77, 46);
  color: #fff;
  width: 60px;
  height: 40px;
  border-radius: 50px;
  display: grid;
  place-items: center;
}
.main .about .content .content-box .head .title {
  display: flex;
  place-items: center;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(18, 0, 100);
}
.main .about .content .content-box .content-text {
  font-size: 15px;
  padding: 10px 20px;
  color: rgb(114, 114, 114);
  line-height: 30px;
}
.main .testimonials {
  width: 100%;
  height: auto;
  height: 800px;
  overflow: hidden;
}
.main .testimonials h3 {
  font-size: 35px;
  color: rgb(18, 0, 100);
  font-weight: bolder;
  width: 100%;
  height: 200px;
  padding: 20px 30px;
  display: grid;
  place-items: center;
}
.main .testimonials .testimonial-container {
  width: 500%;
  height: 500px;
  display: flex;
}
.main .testimonials .testimonial-container input {
  display: none;
}
.main .testimonials .testimonial-container .container {
  position: relative;
  background: rgba(255, 235, 237, 0.8);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 19%;
  height: 300px;
  transition: 1s;
}
.main .testimonials .testimonial-container .container img {
  position: absolute;
  top: -50px;
  width: 100px;
}
.main .testimonials .testimonial-container .container h4 {
  margin-bottom: 10px;
}
.main .testimonials .testimonial-container .container p {
  text-align: center;
  color: rgb(114, 114, 114);
  font-size: 15px;
  line-height: 30px;
}
.main .testimonials .testimonial-container .nav-manual {
  position: absolute;
  margin-top: 350px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
}
.main .testimonials .testimonial-container .nav-manual .manual-btn {
  border: 2px solid rgb(252, 77, 46);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.main .testimonials .testimonial-container .nav-manual .manual-btn:not(:last-child) {
  margin-right: 20px;
}
.main .testimonials .testimonial-container #radio1:checked ~ .first {
  margin-left: 0;
}
.main .testimonials .testimonial-container #radio2:checked ~ .first {
  margin-left: -20%;
}
.main .testimonials .testimonial-container #radio3:checked ~ .first {
  margin-left: -40%;
}
.main .testimonials .testimonial-container #radio4:checked ~ .first {
  margin-left: -60%;
}
.main .testimonials .testimonial-container .nav-auto {
  position: absolute;
  margin-top: 350px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
}
.main .testimonials .testimonial-container .nav-auto div {
  border: 2px solid rgb(252, 77, 46);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.main .testimonials .testimonial-container .nav-auto div:not(:last-child) {
  margin-right: 20px;
}
.main .testimonials .testimonial-container .nav-auto div:hover {
  background: rgb(252, 77, 46);
}
.main .testimonials .testimonial-container #radio1:checked ~ .nav-auto .auto-btn1 {
  background: rgb(252, 77, 46);
}
.main .testimonials .testimonial-container #radio2:checked ~ .nav-auto .auto-btn2 {
  background: rgb(252, 77, 46);
}
.main .testimonials .testimonial-container #radio3:checked ~ .nav-auto .auto-btn3 {
  background: rgb(252, 77, 46);
}
.main .testimonials .testimonial-container #radio4:checked ~ .nav-auto .auto-btn4 {
  background: rgb(252, 77, 46);
}
.main .testimonials .cta {
  padding: 20px 30px;
  margin-top: 20px;
  border-style: none;
  border-radius: 30px;
  font-size: 15px;
  color: #fff;
  background: rgb(252, 77, 46);
  width: 180px;
  letter-spacing: 2px;
  font-weight: 700;
  box-shadow: 0px 1px 6px rgb(252, 77, 46);
  cursor: pointer;
}
.main .get-started {
  width: 100%;
  height: 500px;
  background: rgb(252, 77, 46);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .get-started .bg {
  width: 300px;
  height: 600px;
  border-radius: 300px;
  background: rgba(252, 255, 255, 0.1);
  transform: rotate(45deg);
  position: absolute;
  left: -280px;
  top: 30px;
}
.main .get-started h3 {
  font-size: 45px;
  color: rgb(255, 235, 237);
  text-align: center;
  padding: 0px 50px;
}
.main .get-started .cta {
  padding: 20px 30px;
  margin-top: 20px;
  border-style: none;
  border-radius: 30px;
  font-size: 15px;
  background: #fff;
  color: rgb(252, 77, 46);
  width: 180px;
  letter-spacing: 2px;
  font-weight: 700;
  box-shadow: 0px 1px 6px rgb(252, 77, 46);
  cursor: pointer;
}
.main .footer {
  width: 100%;
  height: 80vh;
  background: yellow;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .main {
    background: gray;
  }
}
@media screen and (min-width: 768px) {
  .main {
    background: orange;
  }
}/*# sourceMappingURL=style.css.map */