@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}


$primary-text: rgb(18, 0, 100);
$scondary-text: rgb(114, 114, 114);
$btn-color: rgb(252, 77, 46);

.main{
    width: 100%;
    height: auto;
    background: blueviolet;
    // overflow-x: hidden;

    .hero{
        width: 100%;
        height: 100%;
        background-image: url('../images/bg-tablet-pattern.svg');
        background-repeat: no-repeat;
        background-position-x: 100px;
        background-position-y: -150px;
        background-size: 600px;


        .navbar{
            width: 100%;
            height: 80px;
            padding: 40px 50px;

            display: flex;
            justify-content: space-between;
            
        }


        .content{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

            .graphics{
                grid-column: 1/2;
                grid-row: 1/2;
                padding: 50px;
               display: flex;
               justify-content: center;
               align-items: center;
                .graph{
                    width: 350px;
                }
            }

            .heading{
                grid-column: 1/2;
                grid-row: 2/3;
                // padding: 20px 50px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3{
                    font-size: 45px;
                    color: $primary-text;
                    text-align: center;
                    // padding: 20px 0px;
                }

                p{
                    font-size: 20px;
                    color: $scondary-text;
                    text-align: center;
                    padding: 20px;
                    line-height: 30px;
                }

                .cta{
                    padding: 20px 30px;
                    border-style: none;
                    border-radius: 30px;
                    font-size: 15px;
                    color: #fff;
                    background: $btn-color;
                    width: 200px;
                    letter-spacing: 2px;
                    font-weight: 700;
                    box-shadow: 0px 3px 10px $btn-color;
                
                }
                
            }
        }
        
    }

    .about{
        width: 100%;
        height: 100vh;
        background: red;
    }

    .testimonials{
        width: 100%;
        height: 100vh;
        background: blue;
    }


    .get-started{
        width: 100%;
        height: 70vh;
        background: green;
    }

    .footer{
        width: 100%;
        height: 80vh;
        background: yellow;
    }



}


@media screen and(min-width: 481px) and (max-width: 767px){
    .main{
        background: gray;
    }
}

@media screen and(min-width: 768px){
    .main{
        background: orange;
    }
}