@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}


$primary-text: rgb(18, 0, 100);
$scondary-text: rgb(114, 114, 114);
$btn-color: rgb(252, 77, 46);

.main{
    width: 100%;
    height: auto;
    position: relative;
    // background: blueviolet;
    overflow-x: hidden;


    .hero{
        width: 100%;
        height: auto;
        background-image: url('../images/bg-tablet-pattern.svg');
        background-repeat: no-repeat;
        background-position-x: 100px;
        background-position-y: -70px;
        background-size: 500px;
        // background: red;


        .navbar{
            width: 100%;
            height: 80px;
            padding: 40px 50px;
            margin-left: 0px;
            transition: margin-left 500ms ease-in-out;

            display: flex;
            justify-content: space-between;



            .menu{
                cursor: pointer;
            }

            .navmenu-desktop{
                display: none;
            }

            .cta-desktop{
                display: none;
            }
            
        }

        .navbar.hide{
            margin-left: 1000px;
            transition: margin-left 500ms ease-in-out;
        }





        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // display: grid;
            // grid-template-columns: 436px;
            // grid-template-rows: 1fr 1fr;

            .graphics{
                // grid-column: 1/2;
                // grid-row: 1/2;
                padding: 20px 50px;
               display: flex;
               justify-content: center;
               align-items: center;
                .graph{
                    width: 300px;
                }
            }

            .heading{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 80px;
               
                h3{
                    font-size: 35px;
                    color: $primary-text;
                    text-align: center;
                    line-height: 50px;
                    padding: 10px 30px;
                }

                p{
                    font-size: 18px;
                    color: $scondary-text;
                    text-align: center;
                    padding: 10px 20px;
                    line-height: 30px;
                }

                .cta{
                    padding: 20px 30px;
                    margin-top: 20px;
                    border-style: none;
                    border-radius: 30px;
                    font-size: 15px;
                    color: #fff;
                    background: $btn-color;
                    width: 180px;
                    letter-spacing: 2px;
                    font-weight: 700;
                    box-shadow: 0px 1px 6px $btn-color;
                    cursor: pointer;
                
                }
                
            }
        }
        
    }


    
    .navmenu-mobile.display{
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(255,255,255, 0.5), rgba(0,0,0,0.5));
        position: absolute;
        top: 0;

        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 37px 50px;
        margin-left: 0px;
        transition: margin-left 500ms ease-in-out;
        
        .head{
            width: 100%;
            // height: 50px;
            // padding: 0px 50px;

            display: flex;
            justify-content: space-between;

            

            .close{
                width: 30px;
                height: 30px;
                margin-left: auto;
                cursor: pointer;
            }
    
        }

       .navlinks{
        width: 300px;
        height: 300px;
        background: #fff;
        display: grid;
        place-items: center; 

       


        ul{
            list-style: none;
            text-align: center;

            li{
                margin-bottom: 20px;

                a{
                    text-decoration: none;
                    color: $primary-text;
                    font-size: 16px;
                    font-weight: bold;

                }
            }
        }
       }
    }


    .navmenu-mobile{
        margin-left: 1000px;
        transition: margin-left 500ms ease-in-out;
    }
    .about{
        width: 100%;
        height: auto;
        
        
        .header{
            margin-bottom: 30px;
            padding: 50px 30px 0px 30px;
            display: grid;
            place-items: center;
            text-align: center;

            h1{
                color:rgb(18, 0, 100);
                font-size: 35px;
                font-weight: bolder;
                padding: 20px;
            }

            p{
                font-size: 15px;
                color: $scondary-text;
                text-align: center;
                line-height: 30px;
            }
        }


        .content{
            height: auto;
            margin: 50px 0px;
           

            .content-box{
                margin: 20px 0px;

               .head{
                    background-color: rgb(255, 235, 237);
                    display: flex;
                    border-radius: 50px 0px 0px 50px;
                    margin-left: 15px;
                    .num{
                        background:rgb(252, 77, 46);
                        color: #fff;
                        width: 60px;
                        height: 40px;
                        border-radius: 50px;
                        display: grid;
                        place-items: center;
                    }

                    .title{
                        display: flex;
                        place-items: center;
                        margin-left: 10px;
                        font-size: 18px;
                        font-weight: bold;
                        color: $primary-text;
                    }

                }

                .content-text{
                    font-size: 15px;
                    padding: 10px 20px; 
                    color: $scondary-text;
                    
                    line-height: 30px;
                }


            }
        }
    }

    .testimonials{
        width: 100%;
        height: auto;
        // display: grid;
        // place-items: center;
       

        height: 800px;
        overflow: hidden;
        h3{
            font-size: 35px;
            color: $primary-text;
            font-weight: bolder;
            width: 100%;
            height: 200px;
            padding: 20px 30px;
            display: grid;
            place-items: center;
        }


        .testimonial-container{
            // display: flex;
            // background: red;

            width: 500%;
            height: 500px;
            display: flex;
            gap: 0px;

            input{
                display: none;
            }





            .container{
                position: relative;
                background: rgba(255, 235, 237, 0.8);
                padding: 20px 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                margin-bottom: 20px;
                width: 20%;
                height: 300px;
                transition: 1s;


                img{
                    position: absolute;
                    top: -50px;
                    width: 100px;

                }

                h4{
                    margin-bottom: 10px;
                }
                p{
                    text-align: center;
                    color: $scondary-text;
                    font-size: 15px;
                    line-height: 30px;
                }
            }


            // manualnav
            .nav-manual{
                position: absolute;
                // width: 400px;
                margin-top: 350px;
                margin-left: 120px; 
                display: flex;
                justify-content: center;

                
                

                .manual-btn{
                    border: 2px solid rgb(252, 77, 46);
                    padding: 5px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 1s;

                    &:not(:last-child){
                        margin-right: 20px;
                    }

                    // &:hover{
                    //     background: rgb(252, 77, 46);
                    // }
                }


            }



            #radio1:checked ~.first{
                margin-left: 0;
            }

            #radio2:checked ~.first{
                margin-left: -20%;
            }

            #radio3:checked ~.first{
                margin-left: -40%;
            }

            #radio4:checked ~.first{
                margin-left: -60%;
            }


            // automatic nav
            .nav-auto{
                position: absolute;
                // width: 400px;
                margin-top: 350px; 
                margin-left: 120px; 
                display: flex;
                justify-content: center;


                div{
                    border: 2px solid rgb(252, 77, 46);
                    padding: 5px;
                    border-radius: 10px;
                    transition: 1s;

                    &:not(:last-child){
                        margin-right: 20px;
                    }

                    &:hover{
                        background: rgb(252, 77, 46);
                    }
                }


            }

            

            #radio1:checked ~ .nav-auto .auto-btn1{
                background: rgb(252, 77, 46);
            }

            #radio2:checked ~ .nav-auto .auto-btn2{
                background: rgb(252, 77, 46);
            }

            #radio3:checked ~ .nav-auto .auto-btn3{
                background: rgb(252, 77, 46);
            }

            #radio4:checked ~ .nav-auto .auto-btn4{
                background: rgb(252, 77, 46);
            }
        }

        .cta{
            padding: 20px 30px;
            margin-top: 20px;
            margin-left: 100px;
            border-style: none;
            border-radius: 30px;
            font-size: 15px;
            color: #fff;
            background: $btn-color;
            width: 180px;
            letter-spacing: 2px;
            font-weight: 700;
            box-shadow: 0px 1px 6px $btn-color;
            cursor: pointer;
        
        }
    }


    .get-started{
        width: 100%;
        height: 500px;
        background: rgb(252, 77, 46);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
     
        .bg{
            width: 300px;
            height: 600px;
            border-radius: 300px;
            background: rgba(252, 255, 255, 0.1);
            transform: rotate(45deg);
            position: absolute;
            left: -280px;
            top: 30px;
        }

        h3{
            font-size: 45px;
            color:rgb(255, 235, 237);
            text-align: center;
            padding: 0px 50px;
        }

        .cta{
            padding: 20px 30px;
            margin-top: 20px;
            border-style: none;
            border-radius: 30px;
            font-size: 15px;
            background: #fff;
            color: $btn-color;
            width: 180px;
            letter-spacing: 2px;
            font-weight: 700;
            box-shadow: 0px 1px 6px $btn-color;
            cursor: pointer;
        
        }
       
    }

    .footer{
        width: 100%;
        height: 500px;
        background: rgb(32, 0, 68);
        padding: 20px 30px;
        display: grid;
        place-items: center;

        form{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            input[type="text"]{
                width: 200px;
                padding: 10px 50px;
                border-style: none;
                border-radius: 20px;
            }

            input[type="submit"]{
                background: $btn-color;
                color:rgb(255, 235, 237);
                font-weight: bold;
                padding: 10px 20px;
                border-style: none;
                border-radius: 20px;
            }

        }

        .navlinks{
            display: flex;
            gap: 100px;
            ul{
                list-style: none;
                
                li{
                    display: flex;
                    margin-bottom: 15px;

                    a{
                        text-decoration: none;
                        color:rgb(255, 235, 237);
                    }
                }
            }

        }

        .socmed{
            display: flex;
            gap: 25px;

            .icons{
                width: 30px;
                height: 30px;
            }
        }
    }



}


@media screen and(min-width: 481px) and (max-width: 767px){
    .main{
        background: gray;
    }
}

@media screen and(min-width: 768px){
    .main{
        
        .hero{
            width: 100%;
            height: 100vh;
            padding: 30px 100px;
            background-position-x: 650px;
            background-position-y: -120px;
            background-size: 700px;
            // background-color: red;

            
            .navbar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .logo{
                    margin-top: 90px;
                    height: 100px;
                }
                .navmenu-desktop{
                    display: block;
                    ul{
                        list-style: none;
                        display: flex;
                        gap: 20px;


                        li{
                            display: inline-block;

                            a{
                                text-decoration: none;
                                font-size: 15px;
                                font-weight: 600;
                                color: $primary-text;
                            }
                        }
                    }
                }


                .cta-desktop{
                    display: block;
                    border-style: none;
                    border-radius: 30px;
                    font-size: 14px;
                    color: #fff;
                    background: $btn-color;
                    width: 150px;
                    height: 50px;
                    padding: 5px 20px;
                    letter-spacing: 2px;
                    font-weight: 700;
                    box-shadow: 0px 1px 6px $btn-color;
                    cursor: pointer;
                }


                .menu{
                    display: none;
                }
            }


            .content{
                height: auto;
                padding: 30px 0px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;


                
                .graphics{
                    grid-column: 2/3;
                    grid-row: 1/2;
                   

                    .graph{
                        width: 500px;
                        margin-top: -10px;
                        
                    }
                }

                .heading{
                    grid-column: 1/2;
                    grid-row: 1/2;
                    margin: 20px 90px;

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 40px;
                    margin-bottom: 80px;
                    
                    
                    h3{
                        text-align: left;
                        padding: 0;
                        font-size: 38px;
                        
                    }

                    p{
                        text-align: left;
                        padding: 0;
                    }

                    .cta{
                        margin-right: auto;
                    }
                }
            }
        }


        .navmenu-mobile{
            display: none;
        }


        .about{
            height: 100vh;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            padding: 50px 100px;
            // background: #000;


            .header{
                grid-column: 1/2;
                grid-row: 1/2;
                display: flex;
                flex-direction: column;
                text-align: left;
                gap: 30px;

                h1{
                    padding: 0;
                }

                p{
                    padding-right: 200px;
                    text-align: left;
                }
            }


            .content{
                grid-column: 2/3;
                grid-row: 1/2;
            }

        }

        
    }
}